<div class="overlay" id="overlay">
  <div class="modal">
    <h2 id="heaInputForm">Saisie manuelle</h2>
    <form id="dataForm" method="post" action="/add">
      <% columns.filter(col => col.field).forEach(col => { %>
      <label>
        <%= col.label %>
        <% if (col.field === 'date') { %>
        <input type="datetime-local" name="date" id="field_date" />
        <% } else if (col.field === 'duration') { %>
        <input type="number" name="duration" id="field_duration" />
        <% } else if (col.field === 'description') { %>
        <textarea name="description" id="field_description"></textarea>
        <% } else { %>
        <input type="text" name="<%= col.field %>" id="field_<%= col.field %>" />
        <% } %>
      </label>
      <% }) %>
      <div class="actions">
        <button type="button" id="closeBtn">Annuler</button>
        <button type="submit" id="saveBtn">Enregistrer</button>
        <br />
        <button
          type="button"
          id="excludeBtn"
          style="
            margin-right: auto;
            font-size: x-small;
            width: 50px;
            height: 16px;
            padding: 1px;
            display: none;
            float: right;
          "
        >
          Exclure
        </button>
      </div>
      <input type="hidden" id="exceptionId" name="exceptionId" />
      <input type="hidden" id="hidSHA" name="sha" />
      <input type="hidden" id="url" name="url" />
      <input type="hidden" id="author" name="author" />
    </form>
  </div>
</div>
